.socials__list {
  display: flex;
  justify-content: center;
}

.socials__item:not(:first-child) {
  margin-left: 10px;
}

.socials__link {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 44px;
  height: 44px;

  color: var(--icon-color);
  border-radius: 50%;

  transition-property: color, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--logo-color-dark);
    background-color: var(--accent-color);
  }
}

.socials__icon {
  fill: currentColor;
}
