/* --------------- Header */

.page-header {
  border-bottom: 1px solid #ececec;
}

.page-header__box {
  display: flex;
  align-items: center;
}

// common styles for both header menu

.header-menu {
  display: flex;
  align-items: center;
}

.header-menu__item {
  display: block;

  &:not(:last-child) {
    margin-right: 50px;
  }
}

.header-menu__link {
  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;

  transition-property: color, fill;
  @extend %transition-data;

  &:hover,
  &:focus {
    color: var(--accent-color);
    fill: var(--accent-color);
  }
}

/* END Header */
