:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --hero-title-color: #ffffff;
  --btn-text-color: #ffffff;
  --accent-color: #2196f3;
  --main-bg-color: #ffffff;
  --dark-bg-color: #2f303a;
  --second-bg-color: #f5f4fa;
  --logo-color: #000000;
  --logo-color-dark: #ffffff;
  --address-contact-color: rgba(255, 255, 255, 0.6);
  --address-map-color: #ffffff;
  --icon-color: #afb1b8;
  --icon-bg-color: rgba(255, 255, 255, 0.1);
  --label-doing-color: #ffffff;
  --label-doing-bg-color: rgba(47, 48, 58, 0.8);
  --portfolio-overlay-text-color: #ffffff;
  --portfolio-overlay-bg-color: rgba(33, 150, 243, 0.9);
  --backdrop-color: rgba(0, 0, 0, 0.2);
  --placeholder-color: rgba(117, 117, 117, 0.5);
  --subscr-border-color: rgba(255, 255, 255, 0.3);
  --close-border-color: rgba(0, 0, 0, 0.1);

  --item-gap: 30px;
}

%transition-data {
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
